:root {
  --primary-color: #22c55e; /* xanh lá cây */
  --primary-backgroud-color: #006d38;
  --primary-text-color: #006d38;
  --primary-border-color: rgba(3, 126, 48, 0.922);
  --primary-color-light: #4ade80;
  --primary-color-dark: #15803d;
}
